/* Navbar.module.css */
.navbar {
    width: 100%;
    background-color: black;
    color: white;
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    /* Garde l'espace entre le logo et les liens */
    align-items: center;
}

.navbar-brand {
    margin-left: 15%;
}

.navbar-brand .logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.navbar-brand .logoIcon {
    height: 2.5em;
    border-radius: 100px;
    /* Ajoute un rayon de bordure pour arrondir les coins */
}

.logo:hover {
    color: grey;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    margin-right: 15%;
    /* Pousse la liste des liens vers la gauche de 18% (100% - 61% - marge logo) */
    text-align: center;
    /* Peut être retiré car justify-content gère l'alignement */
}

.nav-item {
    margin-left: 3rem;
}

.nav-link {
    color: white;
    text-decoration: none;
    padding: 0.5rem 0;
    position: relative;
    /* Essaye des valeurs positives ou négatives */
}

.nav-link:hover {
    color: grey;
}

.nav-link.active {
    color: rgb(184, 120, 120);
}

.nav-link .icon {
    font-size: 1em;
}