/* Navbar.module.css */
.navbar {
    width: 100%;
    background-color: black;
    color: white;
    padding: 1rem 0;
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    /* Garde l'espace entre le logo et les liens */
    align-items: center;
}

.navbar-brand {
    margin-left: 18%;/* Pousse le conteneur du logo vers la droite de 20% */
}

.navbar-brand .logo {
    display: flex;
    /* Pour aligner l'icône verticalement si besoin */
    align-items: center;
    text-decoration: none;
    
}

.navbar-brand .logoIcon {
    height: 4em;
    border-radius: 100px;
        /* Ajoute un rayon de bordure pour arrondir les coins */
}

.logo:hover {
    color: grey;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    /* Aligne les liens à droite */
    width: 61%;  /* Occupe 61% de la largeur disponible à droite */
    margin-right: 18%; /* Pousse la liste des liens vers la gauche de 18% (100% - 61% - marge logo) */
    text-align: center; /* Peut être retiré car justify-content gère l'alignement */
}

.nav-item {
    margin-left: 1rem;
}

.nav-link {
    color: white;
    text-decoration: none;
    padding: 0.5rem 0;
    position: relative;
        /* Essaye des valeurs positives ou négatives */
}

.nav-link:hover {
    color: grey;
}

.nav-link.active {
    color: rgb(184, 120, 120);
}

.nav-link .icon {
    font-size: 26px;
    margin-top: -4px;
}
