body {
  margin: 0;
  /* Reset default body margin */
  font-family: sans-serif;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 75vh;
  width: 66%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: calc(10px + 2vmin);

}
.content-wrapper {
  width: 100%;
  max-width: 1200px;
}

/* Apply this class to the main content area in App.tsx */
.content {
  width: 100%;
  flex-grow: 1;
  padding: 20px 0;
}
