body {
  margin: 0;
  /* Reset default body margin */
  font-family: sans-serif;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 75vh;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: calc(10px + 2vmin);

  /* background-color: blueviolet; */

}

.content {
  width: 70%;
  flex-grow: 1;
  padding: 20px 0;

  /* background-color: red; */
}

.content-wrapper {
  width: 100%;

  align-items: center;

  display: flex;
  flex-direction: column;
  justify-content: center;

  /* background-color: tomato; */
}

.title {
  letter-spacing: -0.4rem;
  font-size: 102px;
  color: #333;
  margin-bottom: 0.2rem;
  text-align: left;
}

.intro {
  font-size: 24px;
  color: #757575;
  text-align: left;
  font-weight: 300;
  margin-top: -0.2rem;
}

.description {
  font-size: 18px;
  color: #333;
  font-weight: 300;
  margin-top: -0.2rem;
  letter-spacing: 0.03rem;
  text-align: justify;
}

.separator {
  border: none;
  border-top: 1px solid #ccc;
  margin: 20px 0;
  width: 100%;
}


